$margin0:               0;
$padding0:              0;
$text-align:            center;
$margin:                0 auto;
$box:                   border-box;
$font-weight:           normal;
$font-style:            normal;
$background-size:       cover;
$attachment:            fixed;
$white:                 white;
$black:                 black;
$left:                  left;
$right:                 right;  
$left3:                 3%;
$top:                   5%;  
$decoration:            none;        
$displayinline:         inline-block;
$border:                2px;
$value5px:              5px;
$padding:               10px;
$font-size:             13px;
$radius:                15px;
$value16px:             16px;
$value19px:             19px;
$value18px:             18px;
$value20px:             20px;
$value22px:             22px;
$value25px:             25px;
$value30px:             30px;
$value35px:             35px;
$value40px:             40px;
$value42px:             42px;
$value45px:             45px;
$value50px:             50px;
$value85px:             85px;
$value90px:             90px;
$margin-bottom:         100px;
$width:                 180px;
$px:                    200px;
$value225px:            225px;
$value255px:            255px;
$height:                700px;
$font-weight:           600;
$bold:                  900;
$width960:              960px;
$relative:              relative;
$text-shadow:           1px 1px 1px rgba(150, 150, 150, 1);
$text-shadow2px:        2px 2px 2px rgba(150, 150, 150, 1);
$none:                  none;
$background-color:      rgb(255,78,80);
$rgb:                   rgb(152,152,152);
$cursor:                pointer;
$clear:                 both;
$minus:                 -20px;




